@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
}

ul,
ol,
dl {
  padding-left: 0;
  margin: 0 0;
  list-style: none;
}

html,
body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
}

body {
  color: #565656;
  min-height: 100vh;
}

.header,
.banner,
.blog,
.footer {
  padding: 0 calc(50vw - 585px);
}
@media screen and (max-width: 1200px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 calc(50vw - (585px - 3%));
  }
}
@media screen and (max-width: 992px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 calc(50vw - (585px - 27%));
  }
}
@media screen and (max-width: 768px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 15px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8vw;
  padding-top: 42px;
  padding-bottom: 42px;
}
@media screen and (max-width: 992px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
@media screen and (max-width: 992px) {
  .nav {
    order: 2;
    flex-grow: 0;
  }
}

.menu {
  display: flex;
  gap: 2.3vw;
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  .menu {
    position: absolute;
    right: 0;
    top: 70px;
    width: 340px;
    opacity: 0;
    flex-direction: column;
    z-index: 2;
    background: #85b4c7;
    padding: 0 0;
    gap: 0;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 992px) {
  .menu__item {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #e5d9d9;
  }
}
.menu__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 0.875rem;
  letter-spacing: 0.3em;
  font-weight: 400;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -14px;
  transform: translateX(10%);
  width: 0;
  height: 1px;
  opacity: 0;
  background: #000;
  transition: all 0.55s;
}
.menu__link:hover::after {
  left: 0;
  transform: translateX(12%);
  width: 76%;
  opacity: 1;
}

.burger {
  display: none;
}
@media screen and (max-width: 992px) {
  .burger:checked ~ .menu {
    opacity: 1;
  }
  .burger:checked ~ .burger__img {
    transform: rotate(405deg);
    transition: all 0.35s;
  }
  .burger:checked ~ .burger__img::before {
    opacity: 0;
  }
  .burger:checked ~ .burger__img::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.burger__img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .burger__img {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 34px;
    height: 2px;
    background-color: #000;
    vertical-align: middle;
  }
  .burger__img::after, .burger__img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 10px;
  }
  .burger__img::after {
    top: -10px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 calc(50vw - (585px - 3%));
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 calc(50vw - (585px - 15%));
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.main_icon {
  display: flex;
  align-items: center;
}

.btn {
  align-items: center;
  padding: 10px 20px;
  background: #565656;
  border: 1px solid #565656;
  color: #fff;
}
.btn:hover {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #565656;
  color: #565656;
}

.footer {
  background-color: #f7f7f7;
  padding: 2rem 0;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
}

.image-card {
  position: relative;
  display: grid; /* щоб легко центрувати або вирівнювати контент */
}

.image__card__caption {
  position: absolute;
  left: 21px;
  top: 146px;
  padding: 0.75rem 1rem;
  color: #000000;
  display: flex;
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 1.875rem); /* адаптивний розмір */
}

.main_icon {
  object-fit: cover;
}/*# sourceMappingURL=main.css.map */