$font-family: 'Roboto', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;



$sub-text: #898f8f;

$second-family: "Roboto", sans-serif;
$gold: #fc0;
$container-width: 1170px;
$color-name:#666;
