@use "fonts";

$main-font-family: 'Gilroy-Medium', sans-serif;
$menu-font-family: 'Roboto', sans-serif;
$title-font-family: 'Gilroy-Bold', sans-serif;
$footer-font-family: 'Gilroy-Light', sans-serif;

$main-font-family: 'Gilroy-Medium', sans-serif;
$menu-font-family: 'Roboto', sans-serif;
$title-font-family: 'Gilroy-Bold', sans-serif;
$footer-font-family: 'Gilroy-Light', sans-serif;
$main-font-size: 18px;
$main-font-color: #070707;
$menu-font-color: #828282;

$main-background: #FFF;
$additional-background: #f6f6f6;

$container-width: 940px;

$main-border-radius: 6px;




// $font-regular: 400;
// $font-medium: 500;
// $font-bold: 700;


// $sub-text: #898f8f;

// $second-family: "Roboto", sans-serif;
// $gold: #fc0;
// $container-width: 1170px;
// $color-name:#666;
