@import url('./vars.css');
@import url('./normalize.css');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--main-font-size);
}


.container {
    max-width: 100%;
    width: 970px;
    margin: 0 auto;
}


.nav {
    border-bottom: 1px solid #828282;
    padding: 28px 15px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding-left: 0;
    margin: 0 0;
}

.menu__link {
    text-decoration: none;
    color: #828282;
    transition: all 0.3s;
}

.menu__link:hover {
    color: #070707;
}

.title {
    margin: 12px 0 50px;
}

.section_title {
    margin: 0 0 20px;
}

.about__me {
    background-color: #F6F6F6;
    padding: 60px 0;
    /* відступи зверху і знизу */
    text-align: center;
    /* центруємо текст */

}

.section_title {
    /* padding-bottom: 50px; */
    font-size: 28px;
    margin-bottom: 20px;
    /* на заголовку дає відстань до першого абзацу */
}

.section_title p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.5;
    /* робить текст більш читабельним. */
}


.skills {
    width: 100%;
    background-color: white;
    padding: 60px 0;
}

.skills h2 {
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 10px; */
}

.skills p {
    text-align: center;
    /* padding-top: 10px;*/
    padding-bottom: 10px;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    /* вирівняти елементи по головній осі */
}



/* Рейтинг (зірки)*/
.rating {
    font-size: 20px;
    color: #000;
}



.social-link {
    transition: opacity 0.3s ease; /* плавність */
}

.social-link:hover {
    opacity: 0.5; /* прозорість при наведенні */
}